node_modules
.next
.turbo
out
dist

# Config file
config.json

# Environment
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.DS_Store
.idea
.vscode
